iris_workflow_full.json
{"updatedAt":"2026-04-18T03:54:34.095Z","createdAt":"2026-04-10T21:37:36.810Z","id":"fm9Ik6r9E7gWRg3E","name":"Agente Oftalmos - Agenda","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"oftalmos","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1136,224],"id":"bb9ad387-70bf-419f-b149-5e5018eed59f","name":"Webhook","webhookId":"a88f2733-e618-461a-8c38-3c262dd086c9"},{"parameters":{"assignments":{"assignments":[{"id":"info-001","name":"id_mensagem","value":"={{ $json.body.data?.key?.id || $json.body.message?.messageid || '' }}","type":"string"},{"id":"info-002","name":"eh_imagem","value":"={{ ($json.body.data?.messageType || $json.body.message?.messageType || '').toLowerCase().includes('image') }}","type":"boolean"},{"id":"info-003","name":"eh_video","value":"={{ ($json.body.data?.messageType || $json.body.message?.messageType || '').toLowerCase().includes('video') }}","type":"boolean"},{"id":"info-004","name":"telefone","value":"={{ ($json.body.data?.key?.remoteJid || $json.body.message?.chatid || '').split('@')[0] }}","type":"string"},{"id":"info-005","name":"instancia","value":"={{ $json.body.instance || $json.body.instanceName || '' }}","type":"string"},{"id":"info-006","name":"mensagem","value":"={{ $json.body.data?.message?.conversation || $json.body.data?.message?.extendedTextMessage?.text || $json.body.data?.message?.imageMessage?.caption || $json.body.message?.text || '' }}","type":"string"},{"id":"info-007","name":"mensagem_de_audio","value":"={{ ($json.body.data?.messageType || '').toLowerCase().includes('audio') || ($json.body.data?.messageType || '') === 'pttMessage' }}","type":"boolean"},{"id":"info-008","name":"timestamp","value":"={{ $json.body.data?.messageTimestamp || 0 }}","type":"number"},{"id":"info-009","name":"fromMe","value":"={{ $json.body.data?.key?.fromMe || $json.body.message?.fromMe || false }}","type":"boolean"},{"id":"info-010","name":"mensagem_de_grupo","value":"={{ ($json.body.data?.key?.remoteJid || '').includes('@g.us') || false }}","type":"boolean"},{"id":"info-011","name":"nome","value":"={{ $json.body.data?.pushName || $json.body.message?.senderName || '' }}","type":"string"},{"id":"info-012","name":"owner","value":"={{ $json.body.instance || $json.body.instanceName || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-912,224],"id":"04b16147-cb99-45e3-bb13-2a53dc0b35dc","name":"Info"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensagem Humana"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensagem Cliente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-688,224],"id":"9839d85a-3c64-4b3b-871f-bda71fbd12b4","name":"Roteamento de Origem"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO contacts (phone, ai_paused, last_human_interaction) VALUES ('{{ $json.telefone || $('Info').first().json.telefone }}', true, NOW()) ON CONFLICT (phone) DO UPDATE SET ai_paused = true, last_human_interaction = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,128],"id":"5fa1a943-57cf-4a65-b679-cac558a42eab","name":"Registrar Interação Humana","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-001","leftValue":"={{ $('Info').first().json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"filter-002","leftValue":"={{ $('Info').first().json.mensagem_de_grupo }}","rightValue":"g.us","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-464,320],"id":"6db427a0-ca9c-4e3b-9605-cbe4ed05d7f9","name":"Mensagem chegando?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tipo-001","leftValue":"={{ $('Info').first().json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"leftValue":"={{ $('Info').first().json.eh_imagem }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tipo-002","leftValue":"={{ $('Info').first().json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tipo-003","leftValue":"={{ $('Info').first().json.eh_imagem }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,304],"id":"814037be-36c1-4209-b405-27905fef236d","name":"Tipo de mensagem"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now }}","id_mensagem":"={{ $('Info').item.json.id_mensagem }}","telefone":"={{ $('Info').item.json.telefone }}","mensagem":"={{ $('Info').item.json.mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,144],"id":"b4812bf4-00ea-4edd-87b7-aa11e1869208","name":"Enfileirar mensagem","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"amount":16},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[208,144],"id":"c65cbd5a-ebe1-4b5b-9c48-0d67d72be2b5","name":"Esperar","webhookId":"2da4ca1d-5944-431c-8c8e-248231af4d42","disabled":true},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info').first().json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,144],"id":"a2891038-6b79-45ea-9543-bfc2619fd8c7","name":"Buscar mensagens","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last();\nconst mensagem_do_workflow = $('Info').first();\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  return [];\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,144],"id":"8d81b57e-9380-4cff-8502-d1b24f487da1","name":"Mensagem encavalada?"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,144],"id":"a19b5d28-88ec-4881-9d6f-3c67dd7561dd","name":"Limpar fila de mensagens","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,144],"id":"3117301b-976f-47b0-8df1-e3bdf4a6cae9","name":"Enviar presença","credentials":{"evolutionApi":{"id":"GTNdup0sU4cqj3oR","name":"Evolution account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"concat-001","name":"mensagem","value":"={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,144],"id":"d40818d0-9a2e-4b96-9374-78354bb068fd","name":"Concatenar mensagens","executeOnce":true},{"parameters":{"operation":"executeQuery","query":"SELECT ai_paused, last_human_interaction, EXTRACT(EPOCH FROM (NOW() - last_human_interaction)) / 60 AS minutos_passados FROM contacts WHERE phone = '{{ $('Info').first().json.telefone }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1552,144],"id":"2493898a-0c33-4c9c-ae41-6af1af52416d","name":"Consultar Status IA","alwaysOutputData":true,"credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"jsCode":"const results = [];\nfor (const item of items) {\n  const rawPaused = item.json.ai_paused;\n  const isPaused = rawPaused === true || rawPaused === 'true' || rawPaused === 't';\n  let minutosPassados = 999;\n  if (item.json.minutos_passados !== undefined && item.json.minutos_passados !== null) {\n    minutosPassados = parseFloat(item.json.minutos_passados);\n  }\n  let blocked = false;\n  let unpause = false;\n  const TEMPO_LIMITE = 3;\n  if (minutosPassados <= TEMPO_LIMITE) {\n    blocked = true;\n    unpause = false;\n  } else if (isPaused) {\n    blocked = false;\n    unpause = true;\n  }\n  results.push({ json: { ...item.json, blocked, unpause_needed: unpause } });\n}\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,144],"id":"e61deb6d-f7eb-4ef2-b880-79a18a7dbfe1","name":"Verificar Timer"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.blocked }}","value2":true}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[2000,144],"id":"c6da6c6b-1c30-4efb-bd4c-06318cbecf6b","name":"Porteiro (Bloqueia?)"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.unpause_needed }}","value2":true}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[2224,144],"id":"4f630dbc-5f30-4310-aa58-f8bd875a2796","name":"Precisa Reativar?"},{"parameters":{"operation":"executeQuery","query":"UPDATE contacts SET ai_paused = false WHERE phone = '{{ $json.telefone ? $json.telefone.trim() : $('Info').first().json.telefone }}' RETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2448,0],"id":"b9c7cdb5-b396-40c5-96d0-2e3ec3b77127","name":"Reativar IA no DB","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"jsCode":"let textoFinal = '';\n\nif ($('Concatenar mensagens').isExecuted) {\n  textoFinal = $('Concatenar mensagens').first().json.mensagem;\n} else if ($('Set mensagem áudio').isExecuted) {\n  textoFinal = $('Set mensagem áudio').first().json.mensagem;\n} else if ($('Set mensagem imagem').isExecuted) {\n  const info = $('Info').first().json;\n  const caption = info.mensagem || '';\n  const description = $('Set mensagem imagem').first().json.mensagem || '';\n  textoFinal = `[Legenda]: ${caption}\\n[Imagem]: ${description}`;\n}\n\nif (!textoFinal || textoFinal.trim() === '') {\n  textoFinal = 'Mensagem vazia ou anexo sem legenda.';\n}\n\nreturn [{ json: { input: textoFinal } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,336],"id":"11fc41e9-a3ba-4dd1-8da0-2a243c9343a5","name":"Preparar Input IA"},{"parameters":{"operation":"getAll","tableId":"whatsapp_mensagens","filters":{"conditions":[{"keyName":"phone","condition":"ilike","keyValue":"=%{{ $('Info').first().json.telefone.slice(-8) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2896,240],"id":"bd370b2c-a2f9-468d-8088-16b0598445be","name":"Carregar Histórico","credentials":{"supabaseApi":{"id":"yFRA7QVqDaaABj8B","name":"Supabase account"}}},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length === 0) {\n  return [{ json: { historico_recente: 'Nenhum histórico encontrado.' } }];\n}\n\nconst rawMessages = items.map(i => i.json);\n\nconst finalHistory = rawMessages\n  .slice(0, 30)\n  .reverse()\n  .map(m => {\n    const isOutbound = m.direction === 'outbound';\n    const timestamp = new Date(m.created_at).toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Sao_Paulo' });\n    const prefix = isOutbound ? 'Assistente: ' : 'Paciente: ';\n    return `[${timestamp}] ${prefix}${m.message}`;\n  })\n  .join('\\n');\n\nreturn [{ json: { historico_recente: finalHistory || 'Sem histórico relevante.' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,240],"id":"2553f149-e1ef-45e8-88dc-8b4e20adf5a5","name":"Formatar Histórico"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').first().json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3472,464],"id":"4a1c227b-8a4a-465d-92eb-c5850c543a3a","name":"Memory","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","messages":{"messageValues":[{"message":"Você é um formatador de texto para WhatsApp.\n\nRegras:\n1. Substitua '**' por '*' (negrito WhatsApp).\n2. Remova todos os '#'.\n3. Remova emojis.\n4. Mantenha quebras de linha.\n5. Retorne APENAS o texto formatado, sem explicações."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[4192,240],"id":"7711b73f-4a6e-4787-9362-082cedaae410","name":"Formatar Texto"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4272,464],"id":"4dab4e90-1b71-434d-99a8-56df5cf37697","name":"Gemini Formatador","credentials":{"googlePalmApi":{"id":"mWvoU2k4HaRoqUlg","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Info').first().json.instancia }}","remoteJid":"={{ $('Info').first().json.telefone }}","messageText":"={{ $json.text || $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4544,240],"id":"a359110b-a1cb-4ea7-9517-a9ebc6be2699","name":"Enviar Texto","credentials":{"evolutionApi":{"id":"GTNdup0sU4cqj3oR","name":"Evolution account"}}},{"parameters":{"tableId":"whatsapp_mensagens","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Info').first().json.telefone }}"},{"fieldId":"sender_phone","fieldValue":"={{ $('Info').first().json.id_mensagem }}"},{"fieldId":"message","fieldValue":"={{ $('Preparar Input IA').first().json.input }}"},{"fieldId":"direction","fieldValue":"inbound"},{"fieldId":"status","fieldValue":"received"},{"fieldId":"tipo","fieldValue":"texto"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2896,432],"id":"8408484e-0f48-485d-a19e-b6c1d073785a","name":"Gravar Mensagem Entrada","credentials":{"supabaseApi":{"id":"yFRA7QVqDaaABj8B","name":"Supabase account"}}},{"parameters":{"tableId":"whatsapp_mensagens","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Info').first().json.telefone }}"},{"fieldId":"sender_phone","fieldValue":"agente_sofia"},{"fieldId":"message","fieldValue":"={{ $('Formatar Texto').first().json.text || $('Agente Íris').first().json.output }}"},{"fieldId":"direction","fieldValue":"outbound"},{"fieldId":"status","fieldValue":"sent"},{"fieldId":"tipo","fieldValue":"texto"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4768,240],"id":"b722bd93-dc9c-4598-9b84-342248af82c7","name":"Gravar Resposta Sofia","credentials":{"supabaseApi":{"id":"yFRA7QVqDaaABj8B","name":"Supabase account"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').first().json.instancia }}","messageId":"={{ $('Info').first().json.id_mensagem }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1776,336],"id":"0dfec9a7-6d4b-4456-a80e-fcc3113841b5","name":"Obter Áudio Base64","credentials":{"evolutionApi":{"id":"GTNdup0sU4cqj3oR","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2000,336],"id":"36b0ff2c-378d-4615-a62f-fd89249e13e0","name":"Converter Áudio"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[2224,336],"id":"ac47f18d-a017-4174-bd6d-a48a958ec3b6","name":"Transcrever Áudio","credentials":{"googlePalmApi":{"id":"mWvoU2k4HaRoqUlg","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-audio","name":"mensagem","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2448,336],"id":"564898ec-c22b-4c5b-bc8b-de154be8eb74","name":"Set mensagem áudio","executeOnce":true},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').first().json.instancia }}","messageId":"={{ $('Info').first().json.id_mensagem }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1776,528],"id":"3a74b5fb-0b60-4503-b8ee-d4041fc7353d","name":"Obter Imagem Base64","credentials":{"evolutionApi":{"id":"GTNdup0sU4cqj3oR","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2000,528],"id":"75c2b91c-72ed-4246-8cc0-6da2d3f4846e","name":"Converter Imagem"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"Descreva o conteúdo desta imagem de forma detalhada. Se for um documento, comprovante ou receita médica, transcreva o texto visível. Se for uma foto do olho ou sintoma ocular, descreva o que está visível.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[2224,528],"id":"5f4eda3f-225c-4d6e-b5af-4edd34c8fe02","name":"Analisar Imagem","credentials":{"googlePalmApi":{"id":"mWvoU2k4HaRoqUlg","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-img","name":"mensagem","value":"={{ $json.content?.parts?.[0]?.text || $json.text || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2448,528],"id":"f9d68249-0897-4182-8aad-3dc6197171ca","name":"Set mensagem imagem","executeOnce":true},{"parameters":{"toolDescription":"Use quando o paciente relatar urgência oftalmológica (dor intensa, perda súbita de visão, trauma ocular) ou quando a situação estiver além da capacidade do atendimento automatizado. Envia alerta para a recepção.","method":"POST","url":"https://SUA_EVOLUTION_URL/message/sendText/SUA_INSTANCIA","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUA_APIKEY"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"SEU_NUMERO_RECEPCAO"},{"name":"text","value":"=⚠️ ATENÇÃO RECEPÇÃO\n\nPaciente precisa de atendimento humano.\nTelefone: {{ $('Info').first().json.telefone }}\nNome: {{ $('Info').first().json.nome }}\nMotivo: {{ $fromAI('motivo', 'Motivo do escalonamento', 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[3600,464],"id":"8fbd68df-b947-4aef-b10f-2114a22bf035","name":"Escalar Humano"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3344,464],"id":"2b6be82a-30a3-4f63-b1a2-7e44075ee356","name":"Gemini Agente","credentials":{"googlePalmApi":{"id":"mWvoU2k4HaRoqUlg","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"description":"Use para refletir antes de tomar decisões complexas."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3728,464],"id":"e8b8694a-6245-4104-942b-cbc9226d82f4","name":"Refletir"},{"parameters":{"promptType":"define","text":"={{ $('Preparar Input IA').first().json.input }}","options":{"systemMessage":"=Você é Íris, a assistente virtual do consultório medico. Você foi criada para oferecer um atendimento acolhedor, eficiente e humanizado via WhatsApp.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nIDENTIDADE\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSeu nome é Íris — inspirado na parte colorida do olho humano, símbolo de visão e cuidado.\nVocê representa o consultório com profissionalismo, empatia e leveza.\nVocê não é um robô genérico: é uma assistente especializada em saúde ocular.\n\n### FERRAMENTA DE CONHECIMENTO (RAG)\n- Utilize a ferramenta \"Consultar Manual da Clínica\" SEMPRE que o paciente fizer perguntas sobre:\n  - Planos de saúde/Convênios aceitos.\n  - Endereço, estacionamento ou como chegar.\n  - Preparo para exames específicos.\n  - Políticas de cancelamento, atrasos ou faltas.\n  - Horários de funcionamento geral da clínica.\n- IMPORTANTE: Se o paciente perguntar algo que não seja agendamento, consulte a ferramenta antes de responder. Não invente regras, preços ou convênios.\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nDATA E HORA ATUAL\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}\n\n\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSUA MISSÃO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nVocê realiza o atendimento completo de pacientes pelo WhatsApp, incluindo:\n\n- Agendamento de consultas oftalmológicas\n- Remarcação e cancelamento de consultas\n- Consulta de horários disponíveis\n- Cadastro de novos pacientes\n- Esclarecimento de dúvidas gerais sobre o consultório\n- Reconhecimento de urgências e encaminhamento correto\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFLUXO DE ATENDIMENTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSiga sempre esta ordem ao iniciar um atendimento novo:\n\nPASSO 1 — Boas-vindas\nCumprimente o paciente de forma calorosa e se apresente brevemente.\nUse o nome do paciente se já estiver no histórico.\nAdapte a saudação ao horário:\n- 05h–11h59 → Bom dia\n- 12h–17h59 → Boa tarde\n- 18h–04h59 → Boa noite\n\nPASSO 2 — Identificação\nPergunte o nome completo do paciente.\nEm seguida, solicite o CPF para localizar o cadastro.\nUse a ferramenta *Buscar Paciente* com o CPF informado.\n- Se encontrado: Verifique se o nome retornado pela ferramenta coincide com o informado pelo paciente.\n  - Se os nomes forem iguais: Confirme e siga para o Passo 3.\n  - Se os nomes forem diferentes: REGRA DE SIGILO. Não revele o nome do banco de dados. Diga apenas: \"O CPF informado já possui um cadastro com dados diferentes. Por favor, verifique o número ou me informe se você está tentando agendar para outra pessoa.\"\n  - Se não encontrado: Informe que irá criar o cadastro e colete: nome completo, telefone, e-mail (opcional) e plano de saúde. Use a ferramenta Cadastrar Paciente.\n  - Ao identificar o paciente, você DEVE usar a ferramenta Buscar Paciente. Guarde o id retornado e use somente ele. Se a ferramenta não retornar um ID, você deve obrigatoriamente realizar o Cadastrar Paciente antes de prosseguir para o agendamento.\n  Use a ferramenta *Cadastrar Paciente*.\n\nPASSO 3 — Intenção\nPergunte o que o paciente precisa. Exemplos de opções que pode oferecer:\n- Agendar uma consulta\n- Ver ou remarcar consulta existente\n- Cancelar uma consulta\n- Tirar uma dúvida\n\nPROATIVIDADE\n- Nunca peça ao paciente uma informação que você pode buscar \n  automaticamente pelas ferramentas.\n- Se o paciente disser \"qualquer data\", \"data livre\" ou similar, \n  verifique os próximos dias automaticamente começando por amanhã \n  até encontrar disponibilidade. Tente no máximo 14 dias à frente.\n- Sempre apresente opções concretas ao invés de devolver a pergunta \n  ao paciente.\n\nPASSO 4 — Agendamento (se aplicável)\n\n4a. Use *Listar Especialidades* e apresente as opções disponíveis.\n\n4b. Pergunte se tem preferência de médico ou deixe o sistema sugerir.\n    Use *Use Listar Médicos sempre que o paciente mencionar um médico ou especialidade. Mesmo que você ache que sabe o ID, execute a ferramenta para garantir que o UUID está correto e ativo no contexto atual. — ele será necessário nos passos seguintes.\n\n4c. Pergunte a data de preferência do paciente.\n    \n  - O paciente informará a data no formato brasileiro (DD/MM/YYYY).\n  - Ao preencher o campo 'data' na ferramenta Verificar Disponibilidade, você deve OBRIGATORIAMENTE converter para o formato YYYY-MM-DD (padrão do sistema).\n  - Se o paciente não informar uma data ou pedir a próxima vaga, deixe o campo data VAZIO.\n\n4d. Uso da Ferramenta de Disponibilidade e Sugestão Proativa:\n- Sempre que o paciente solicitar uma data (ex: \"tem para amanhã?\", \"tem para maio?\"), tente primeiro essa data específica no formato YYYY-MM-DD.\n- SE A FERRAMENTA RETORNAR VAZIO PARA A DATA SOLICITADA: Não diga que não há vagas. Use IMEDIATAMENTE a ferramenta novamente deixando o campo 'data' VAZIO para buscar as próximas 3 datas disponíveis em todo o período de 90 dias.\n- APRESENTAÇÃO: Informe ao paciente que a data solicitada não está disponível, mas ofereça as alternativas encontradas pelo sistema.\n  Exemplo: \"Para o dia 15/05 não encontrei horários, mas o Dr. Daniel tem vagas próximas nos dias 18/05 e 20/05. Alguma dessas serve?\"\n- SE O PACIENTE FOR VAGO (ex: \"próximo mês\"): Deixe o campo 'data' vazio e deixe o sistema trazer as vagas reais. Jamais invente que não há vagas sem antes buscar com o campo data vazio.\n\n4e. Apresente os horários disponíveis de forma organizada:\n    \"Encontrei horários para Dr(a). [nome] no dia [data]:\n     1. 09:00\n     2. 09:30\n     3. 10:00\n    Qual horário prefere?\"\n\n4f. Confirme todos os dados com o paciente antes de finalizar:\n    - Nome do paciente\n    - Médico\n    - Especialidade\n    - Data e horário\n    - Tipo: presencial ou telemedicina\n\n4g. Após confirmação explícita do paciente, use *Criar Consulta* com:\n    - paciente_id: UUID do paciente obtido em *Buscar Paciente*\n    - medico_id: UUID do médico obtido em *Listar Médicos*\n    - data_hora: no formato YYYY-MM-DD HH:MM:SS\n    - duracao_min: No campo duracao_min, envie o valor retornado pela ferramenta Listar Especialidades ou deixe o sistema calcular. Se o paciente não mencionar um tempo específico, priorize a automação do banco de dados.\n    - tipo: presencial ou telemedicina\n    - observacoes: qualquer observação mencionada pelo paciente\n    - Use Criar Consulta. O campo duracao_min será calculado automaticamente pelo sistema, você não precisa enviar um valor fixo, a menos que o paciente peça um tempo diferente.           \n\n4h. Envie o resumo da consulta agendada:\n    \"Consulta confirmada!\n     Paciente: [nome]\n     Médico: [nome]\n     Data: [dd/MM/yyyy]\n     Horário: [HH:MM]\n     Tipo: [presencial/telemedicina]\n     Até lá!\"\nREGRA DE OURO \n - Para enviar o resumo da consulta, use APENAS os dados que retornarem da ferramenta Criar Consulta. Se a ferramenta retornar \"presencial\", diga \"presencial\", mesmo que o paciente tenha pedido telemedicina (e avise-o da divergência).\n - Ao confirmar o horário, use sempre o formato HH:MM local (Brasília/São Paulo). Ignore qualquer indicação de fuso horário (+00) que venha do banco de dados ao falar com o paciente.\n\nPASSO 5 — Encerramento\nAgradeça o contato, informe que pode ajudar com mais alguma coisa e deseje um dia agradável.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFLUXO DE REMARCAÇÃO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n1. Use *Listar Consultas Paciente* para mostrar as consultas futuras.\n2. Pergunte qual consulta deseja remarcar.\n3. Use *Cancelar Consulta* na consulta original.\n4. Siga o fluxo de agendamento (Passo 4) para o novo horário.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFLUXO DE CANCELAMENTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n1. Use *Listar Consultas Paciente* para mostrar as consultas futuras.\n2. Pergunte qual consulta deseja cancelar.\n3. Confirme com o paciente antes de cancelar: \"Posso confirmar o cancelamento da consulta com Dr(a). [nome] no dia [data] às [hora]?\"\n4. Somente após confirmação, use *Cancelar Consulta*.\n5. Informe o cancelamento e pergunte se deseja reagendar.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRECONHECIMENTO DE URGÊNCIAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSe o paciente mencionar qualquer um dos sinais abaixo, trate como URGÊNCIA OFTALMOLÓGICA:\n\n- Perda súbita ou redução repentina de visão\n- Dor intensa nos olhos\n- Trauma ocular (batida, objeto no olho, produto químico)\n- Flashes de luz ou muitas moscas volantes de repente\n- Olho vermelho com dor e sensibilidade à luz\n- Visão dupla de início súbito\n- Inchaço ou secreção ocular intensa\n\nNesses casos:\n1. Demonstre empatia imediata: \"Entendo, isso é sério e merece atenção imediata.\"\n2. Oriente o paciente a buscar um pronto-socorro oftalmológico ou UPA mais próxima.\n3. Use a ferramenta *Escalar Humano* para alertar a equipe do consultório.\n4. Não tente agendar uma consulta comum nesses casos.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGRAS DE COMPORTAMENTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nTOM E LINGUAGEM\n- Use linguagem simples, acolhedora e profissional.\n- Evite termos técnicos médicos sem necessidade.\n- Trate sempre o paciente pelo primeiro nome.\n- Nunca seja fria, robótica ou mecânica nas respostas.\n- Demonstre empatia quando o paciente relatar desconforto ou preocupação.\n\nFORMATO DAS RESPOSTAS\n- Responda SEMPRE em português brasileiro.\n- Não use markdown (sem **, ##, -, *, etc.).\n- Use apenas texto simples com quebras de linha para organizar listas.\n- Mensagens curtas e diretas. Evite textos longos em uma única mensagem.\n- Ao apresentar listas de horários ou opções, use números: 1., 2., 3.\n\nRESTRIÇÕES\n- PRIVACIDADE (LGPD): Se a ferramenta Buscar Paciente retornar um nome diferente do informado pelo usuário, NUNCA revele o nome do banco de dados. Diga apenas que os dados não coincidem e peça para conferir o CPF.\n- Nunca invente horários, médicos ou especialidades. Sempre consulte as ferramentas.\n- Nunca confirme um agendamento sem antes perguntar ao paciente.\n- Nunca cancele uma consulta sem confirmação explícita do paciente.\n- Não forneça diagnósticos, prescrições ou orientações médicas.\n- Não responda perguntas fora do escopo do consultório (política, esportes, etc.).\n- Se não souber responder, informe que irá verificar com a equipe e use *Escalar Humano*.\n\nCONFIRMAÇÃO REAL\n- Você só deve dizer \"Consulta confirmada\" se a ferramenta Criar Consulta retornar um \"id\". Se a ferramenta retornar um erro ou mensagem de falha, informe ao paciente que houve um problema técnico e peça para ele aguardar um momento ou tentar novamente.\n\nE-MAIL OPCIONAL\n- Se o paciente não informar o e-mail, envie o campo como uma string vazia para a ferramenta. Nunca invente um e-mail.\n\nMEMÓRIA E CONTEXTO\n- Sempre consulte o histórico da conversa antes de perguntar algo que já foi respondido.\n- Nunca peça o nome ou CPF do paciente duas vezes na mesma conversa.\n- Se o paciente já informou a especialidade, não pergunte novamente.\n\nCONFIANÇA NAS FERRAMENTAS \n- Se uma ferramenta retornar \"vazio\", não diga que o médico \"está sim disponível\" logo em seguida. Se o médico não apareceu na lista daquela especialidade, informe que ele atua em outra área (ex: \"O Dr. Jean é Oftalmologista, não Neurologista\").\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEXEMPLOS DE RESPOSTAS ESPERADAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nBOAS-VINDAS (primeira mensagem):\n\"Boa tarde! 😊 Sou a Íris, assistente virtual do consultório de oftalmologia. Estou aqui para te ajudar com agendamentos e dúvidas. Pode me dizer seu nome completo?\"\n\nCONFIRMAÇÃO DE AGENDAMENTO:\n\"Perfeito! Vou confirmar os dados antes de finalizar:\n\nPaciente: João Silva\nMédico: Dra. Ana Souza\nEspecialidade: Retina\nData: 15/04/2026\nHorário: 14:30\nTipo: Presencial\n\nConfirma o agendamento?\"\n\nURGÊNCIA:\n\"Entendo, isso precisa de atenção imediata. Por favor, procure o pronto-socorro oftalmológico mais próximo ou a UPA. Vou avisar nossa equipe agora para que possam te orientar melhor.\"\n\nENCERRAMENTO:\n\"Agendamento confirmado! Até dia 15/04 às 14h30. Qualquer dúvida, pode falar comigo. Tenha um ótimo dia!\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFERRAMENTAS DISPONÍVEIS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nUse as ferramentas na ordem certa. Nunca use uma ferramenta sem ter os dados necessários.\n\nBuscar Paciente → requer CPF\nCadastrar Paciente → requer nome, CPF, telefone\nListar Especialidades → sem parâmetros\nListar Médicos → opcional: especialidade_id\nVerificar Disponibilidade → requer medico_id e data (YYYY-MM-DD)\nCriar Consulta → requer paciente_id, medico_id, data_hora, duracao_min, tipo\nCancelar Consulta → requer consulta_id e paciente_id\nListar Consultas Paciente → requer paciente_id\nEscalar Humano → requer motivo claro e detalhado\n\n### REGRA DE OURO PARA BUSCA DE DISPONIBILIDADE:\n1. NUNCA tente adivinhar ou chutar uma data específica (ex: 2026-05-01) quando o paciente perguntar sobre um MÊS ou período genérico (\"tem vaga para maio?\", \"quais os horários de junho?\").\n2. NESSES CASOS, você deve OBRIGATORIAMENTE deixar o parâmetro 'data' VAZIO na ferramenta 'Verificar Disponibilidade'. \n3. Deixar a data vazia ativa a busca de 90 dias no banco de dados, que já filtra automaticamente feriados e os dias específicos de atendimento de cada médico (ex: se o médico só atende terça e quinta, o sistema só trará esses dias).\n4. Se você buscar uma data específica e o retorno for um array vazio [], não desista: faça uma segunda busca IMEDIATAMENTE com o campo 'data' vazio para encontrar as opções mais próximas e oferecê-las ao paciente.\n5. Ao receber a lista de horários, filtre-os mentalmente para responder apenas o que o paciente solicitou (ex: se ele pediu maio, mostre as datas de maio que o sistema retornou)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3600,240],"id":"799f0823-374a-4cea-adf2-01790c14a4e6","name":"Agente Íris","retryOnFail":true},{"parameters":{"endpointUrl":"http://n8n-oftalmos.147.15.99.72.sslip.io/mcp/marcaconsulta","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[3856,464],"id":"d3f462c9-65d2-40bc-94bf-6eeb94f4e33e","name":"MCP Client"},{"parameters":{"operation":"query","systemPrompt":"Você é um assistente de extração de dados da clínica. Sua única função é ler os documentos fornecidos e retornar a resposta exata para a pergunta do usuário.\n\nREGRAS:\n1. Responda apenas com base no contexto fornecido pelos documentos.\n2. Se a informação não estiver nos documentos, responda exatamente: \"Informação não disponível nos manuais.\"\n3. Seja direto e objetivo. Não utilize saudações como \"Olá\" ou \"Como posso ajudar\". \n4. Mantenha os termos técnicos e nomes de convênios exatamente como estão escritos nos documentos.","query":"={{ $('Code in JavaScript').first().json.input }}","storeName":{"__rl":true,"value":"fileSearchStores/oftalmos-lqv3wo6cp77i","mode":"list","cachedResultName":"Oftalmos"},"includeSourceMetadata":true},"type":"n8n-nodes-gemini-file-search.geminiFileSearchDocumentsTool","typeVersion":1,"position":[3984,464],"id":"700395d3-307a-4385-b4cb-edfaabda028f","name":"RAG","credentials":{"geminiApi":{"id":"jjZxgmWRr7HAkJg8","name":"Gemini account"}}}],"connections":{"Webhook":{"main":[[{"node":"Info","type":"main","index":0}]]},"Info":{"main":[[{"node":"Roteamento de Origem","type":"main","index":0}]]},"Roteamento de Origem":{"main":[[{"node":"Registrar Interação Humana","type":"main","index":0}],[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Mensagem chegando?":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Enfileirar mensagem","type":"main","index":0}],[{"node":"Obter Áudio Base64","type":"main","index":0}],[{"node":"Obter Imagem Base64","type":"main","index":0}]]},"Enfileirar mensagem":{"main":[[{"node":"Esperar","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"Buscar mensagens","type":"main","index":0}]]},"Buscar mensagens":{"main":[[{"node":"Mensagem encavalada?","type":"main","index":0}]]},"Mensagem encavalada?":{"main":[[{"node":"Limpar fila de mensagens","type":"main","index":0}]]},"Limpar fila de mensagens":{"main":[[{"node":"Enviar presença","type":"main","index":0}]]},"Enviar presença":{"main":[[{"node":"Concatenar mensagens","type":"main","index":0}]]},"Concatenar mensagens":{"main":[[{"node":"Consultar Status IA","type":"main","index":0}]]},"Consultar Status IA":{"main":[[{"node":"Verificar Timer","type":"main","index":0}]]},"Verificar Timer":{"main":[[{"node":"Porteiro (Bloqueia?)","type":"main","index":0}]]},"Porteiro (Bloqueia?)":{"main":[[],[{"node":"Precisa Reativar?","type":"main","index":0}]]},"Precisa Reativar?":{"main":[[{"node":"Reativar IA no DB","type":"main","index":0}],[{"node":"Preparar Input IA","type":"main","index":0}]]},"Reativar IA no DB":{"main":[[{"node":"Preparar Input IA","type":"main","index":0}]]},"Preparar Input IA":{"main":[[{"node":"Carregar Histórico","type":"main","index":0},{"node":"Gravar Mensagem Entrada","type":"main","index":0}]]},"Carregar Histórico":{"main":[[{"node":"Formatar Histórico","type":"main","index":0}]]},"Formatar Histórico":{"main":[[{"node":"Agente Íris","type":"main","index":0}]]},"Formatar Texto":{"main":[[{"node":"Enviar Texto","type":"main","index":0}]]},"Enviar Texto":{"main":[[{"node":"Gravar Resposta Sofia","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"Agente Íris","type":"ai_memory","index":0}]]},"Gemini Formatador":{"ai_languageModel":[[{"node":"Formatar Texto","type":"ai_languageModel","index":0}]]},"Obter Áudio Base64":{"main":[[{"node":"Converter Áudio","type":"main","index":0}]]},"Converter Áudio":{"main":[[{"node":"Transcrever Áudio","type":"main","index":0}]]},"Transcrever Áudio":{"main":[[{"node":"Set mensagem áudio","type":"main","index":0}]]},"Set mensagem áudio":{"main":[[{"node":"Preparar Input IA","type":"main","index":0}]]},"Obter Imagem Base64":{"main":[[{"node":"Converter Imagem","type":"main","index":0}]]},"Converter Imagem":{"main":[[{"node":"Analisar Imagem","type":"main","index":0}]]},"Analisar Imagem":{"main":[[{"node":"Set mensagem imagem","type":"main","index":0}]]},"Set mensagem imagem":{"main":[[{"node":"Preparar Input IA","type":"main","index":0}]]},"Gravar Mensagem Entrada":{"main":[[]]},"Escalar Humano":{"ai_tool":[[{"node":"Agente Íris","type":"ai_tool","index":0}]]},"Gemini Agente":{"ai_languageModel":[[{"node":"Agente Íris","type":"ai_languageModel","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Agente Íris","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Agente Íris","type":"ai_tool","index":0}]]},"Agente Íris":{"main":[[{"node":"Formatar Texto","type":"main","index":0}]]},"RAG":{"ai_tool":[[{"node":"Agente Íris","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-oftalmos.147.15.99.72.sslip.io","user-agent":"axios/1.13.2","content-length":"1507","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"147.15.99.72","x-forwarded-host":"n8n-oftalmos.147.15.99.72.sslip.io","x-forwarded-port":"80","x-forwarded-proto":"http","x-forwarded-server":"a1a23c0772ba","x-real-ip":"147.15.99.72"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"11991234443","data":{"key":{"remoteJid":"557981064746@s.whatsapp.net","remoteJidAlt":"557981064746@s.whatsapp.net","fromMe":false,"id":"3EB03765DFEF6C6B68B5EB","participant":"","addressingMode":"lid"},"pushName":"Super Software","status":"DELIVERY_ACK","message":{"conversation":"ola","messageContextInfo":{"threadId":[],"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":196,"1":145,"2":252,"3":62,"4":244,"5":41,"6":33,"7":93,"8":95,"9":83},"senderTimestamp":{"low":1776190911,"high":0,"unsigned":true},"senderAccountType":0,"receiverAccountType":0,"recipientKeyHash":{"0":113,"1":97,"2":121,"3":119,"4":104,"5":15,"6":185,"7":140,"8":233,"9":128},"recipientTimestamp":{"low":1776091816,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":144,"1":251,"2":56,"3":40,"4":9,"5":62,"6":238,"7":57,"8":254,"9":164,"10":25,"11":143,"12":25,"13":228,"14":186,"15":15,"16":253,"17":129,"18":44,"19":28,"20":134,"21":35,"22":183,"23":9,"24":87,"25":199,"26":225,"27":172,"28":123,"29":119,"30":49,"31":167}}},"messageType":"conversation","messageTimestamp":1776440801,"instanceId":"aaae1026-f7b0-40fe-b6bc-ce4fe8eef8cf","source":"web"},"destination":"http://n8n-oftalmos.147.15.99.72.sslip.io/webhook/oftalmos","date_time":"2026-04-17T12:46:42.345Z","sender":"5511991234443@s.whatsapp.net","server_url":"http://evo-nw0kw8so8408c8goks0soocs.147.15.99.72.sslip.io","apikey":"08176DB1B335-4F32-B0F9-0BF5F10FF3F5"},"webhookUrl":"http://n8n-oftalmos.147.15.99.72.sslip.io/webhook/oftalmos","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"281c384b-3485-4f82-a045-7aebdd9d3c4a","activeVersionId":"b2c78607-eb2f-4846-a563-80f97671834d","versionCounter":184,"triggerCount":1,"shared":[{"updatedAt":"2026-04-10T21:37:36.810Z","createdAt":"2026-04-10T21:37:36.810Z","role":"workflow:owner","workflowId":"fm9Ik6r9E7gWRg3E","projectId":"p2kkPTM2RKc7LRdj","project":{"updatedAt":"2026-04-10T19:21:20.271Z","createdAt":"2026-03-26T03:04:38.247Z","id":"p2kkPTM2RKc7LRdj","name":"Oftalmos Oftalmos <oftalmos@oftalmos.com>","type":"personal","icon":null,"description":null,"creatorId":"456f2d93-daff-4541-928e-b6a0e5cd74b8"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-18T01:39:13.862Z","createdAt":"2026-04-18T01:03:59.439Z","versionId":"b2c78607-eb2f-4846-a563-80f97671834d","workflowId":"fm9Ik6r9E7gWRg3E","nodes":[{"parameters":{"httpMethod":"POST","path":"oftalmos","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1136,224],"id":"bb9ad387-70bf-419f-b149-5e5018eed59f","name":"Webhook","webhookId":"a88f2733-e618-461a-8c38-3c262dd086c9"},{"parameters":{"assignments":{"assignments":[{"id":"info-001","name":"id_mensagem","value":"={{ $json.body.data?.key?.id || $json.body.message?.messageid || '' }}","type":"string"},{"id":"info-002","name":"eh_imagem","value":"={{ ($json.body.data?.messageType || $json.body.message?.messageType || '').toLowerCase().includes('image') }}","type":"boolean"},{"id":"info-003","name":"eh_video","value":"={{ ($json.body.data?.messageType || $json.body.message?.messageType || '').toLowerCase().includes('video') }}","type":"boolean"},{"id":"info-004","name":"telefone","value":"={{ ($json.body.data?.key?.remoteJid || $json.body.message?.chatid || '').split('@')[0] }}","type":"string"},{"id":"info-005","name":"instancia","value":"={{ $json.body.instance || $json.body.instanceName || '' }}","type":"string"},{"id":"info-006","name":"mensagem","value":"={{ $json.body.data?.message?.conversation || $json.body.data?.message?.extendedTextMessage?.text || $json.body.data?.message?.imageMessage?.caption || $json.body.message?.text || '' }}","type":"string"},{"id":"info-007","name":"mensagem_de_audio","value":"={{ ($json.body.data?.messageType || '').toLowerCase().includes('audio') || ($json.body.data?.messageType || '') === 'pttMessage' }}","type":"boolean"},{"id":"info-008","name":"timestamp","value":"={{ $json.body.data?.messageTimestamp || 0 }}","type":"number"},{"id":"info-009","name":"fromMe","value":"={{ $json.body.data?.key?.fromMe || $json.body.message?.fromMe || false }}","type":"boolean"},{"id":"info-010","name":"mensagem_de_grupo","value":"={{ ($json.body.data?.key?.remoteJid || '').includes('@g.us') || false }}","type":"boolean"},{"id":"info-011","name":"nome","value":"={{ $json.body.data?.pushName || $json.body.message?.senderName || '' }}","type":"string"},{"id":"info-012","name":"owner","value":"={{ $json.body.instance || $json.body.instanceName || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-912,224],"id":"04b16147-cb99-45e3-bb13-2a53dc0b35dc","name":"Info"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensagem Humana"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensagem Cliente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-688,224],"id":"9839d85a-3c64-4b3b-871f-bda71fbd12b4","name":"Roteamento de Origem"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO contacts (phone, ai_paused, last_human_interaction) VALUES ('{{ $json.telefone || $('Info').first().json.telefone }}', true, NOW()) ON CONFLICT (phone) DO UPDATE SET ai_paused = true, last_human_interaction = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,128],"id":"5fa1a943-57cf-4a65-b679-cac558a42eab","name":"Registrar Interação Humana","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-001","leftValue":"={{ $('Info').first().json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"filter-002","leftValue":"={{ $('Info').first().json.mensagem_de_grupo }}","rightValue":"g.us","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-464,320],"id":"6db427a0-ca9c-4e3b-9605-cbe4ed05d7f9","name":"Mensagem chegando?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tipo-001","leftValue":"={{ $('Info').first().json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"leftValue":"={{ $('Info').first().json.eh_imagem }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tipo-002","leftValue":"={{ $('Info').first().json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tipo-003","leftValue":"={{ $('Info').first().json.eh_imagem }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,304],"id":"814037be-36c1-4209-b405-27905fef236d","name":"Tipo de mensagem"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now }}","id_mensagem":"={{ $('Info').item.json.id_mensagem }}","telefone":"={{ $('Info').item.json.telefone }}","mensagem":"={{ $('Info').item.json.mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,144],"id":"b4812bf4-00ea-4edd-87b7-aa11e1869208","name":"Enfileirar mensagem","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"amount":16},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[208,144],"id":"c65cbd5a-ebe1-4b5b-9c48-0d67d72be2b5","name":"Esperar","webhookId":"2da4ca1d-5944-431c-8c8e-248231af4d42","disabled":true},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info').first().json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,144],"id":"a2891038-6b79-45ea-9543-bfc2619fd8c7","name":"Buscar mensagens","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last();\nconst mensagem_do_workflow = $('Info').first();\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  return [];\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,144],"id":"8d81b57e-9380-4cff-8502-d1b24f487da1","name":"Mensagem encavalada?"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,144],"id":"a19b5d28-88ec-4881-9d6f-3c67dd7561dd","name":"Limpar fila de mensagens","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,144],"id":"3117301b-976f-47b0-8df1-e3bdf4a6cae9","name":"Enviar presença","credentials":{"evolutionApi":{"id":"GTNdup0sU4cqj3oR","name":"Evolution account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"concat-001","name":"mensagem","value":"={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,144],"id":"d40818d0-9a2e-4b96-9374-78354bb068fd","name":"Concatenar mensagens","executeOnce":true},{"parameters":{"operation":"executeQuery","query":"SELECT ai_paused, last_human_interaction, EXTRACT(EPOCH FROM (NOW() - last_human_interaction)) / 60 AS minutos_passados FROM contacts WHERE phone = '{{ $('Info').first().json.telefone }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1552,144],"id":"2493898a-0c33-4c9c-ae41-6af1af52416d","name":"Consultar Status IA","alwaysOutputData":true,"credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"jsCode":"const results = [];\nfor (const item of items) {\n  const rawPaused = item.json.ai_paused;\n  const isPaused = rawPaused === true || rawPaused === 'true' || rawPaused === 't';\n  let minutosPassados = 999;\n  if (item.json.minutos_passados !== undefined && item.json.minutos_passados !== null) {\n    minutosPassados = parseFloat(item.json.minutos_passados);\n  }\n  let blocked = false;\n  let unpause = false;\n  const TEMPO_LIMITE = 3;\n  if (minutosPassados <= TEMPO_LIMITE) {\n    blocked = true;\n    unpause = false;\n  } else if (isPaused) {\n    blocked = false;\n    unpause = true;\n  }\n  results.push({ json: { ...item.json, blocked, unpause_needed: unpause } });\n}\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,144],"id":"e61deb6d-f7eb-4ef2-b880-79a18a7dbfe1","name":"Verificar Timer"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.blocked }}","value2":true}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[2000,144],"id":"c6da6c6b-1c30-4efb-bd4c-06318cbecf6b","name":"Porteiro (Bloqueia?)"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.unpause_needed }}","value2":true}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[2224,144],"id":"4f630dbc-5f30-4310-aa58-f8bd875a2796","name":"Precisa Reativar?"},{"parameters":{"operation":"executeQuery","query":"UPDATE contacts SET ai_paused = false WHERE phone = '{{ $json.telefone ? $json.telefone.trim() : $('Info').first().json.telefone }}' RETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2448,0],"id":"b9c7cdb5-b396-40c5-96d0-2e3ec3b77127","name":"Reativar IA no DB","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"jsCode":"let textoFinal = '';\n\nif ($('Concatenar mensagens').isExecuted) {\n  textoFinal = $('Concatenar mensagens').first().json.mensagem;\n} else if ($('Set mensagem áudio').isExecuted) {\n  textoFinal = $('Set mensagem áudio').first().json.mensagem;\n} else if ($('Set mensagem imagem').isExecuted) {\n  const info = $('Info').first().json;\n  const caption = info.mensagem || '';\n  const description = $('Set mensagem imagem').first().json.mensagem || '';\n  textoFinal = `[Legenda]: ${caption}\\n[Imagem]: ${description}`;\n}\n\nif (!textoFinal || textoFinal.trim() === '') {\n  textoFinal = 'Mensagem vazia ou anexo sem legenda.';\n}\n\nreturn [{ json: { input: textoFinal } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,336],"id":"11fc41e9-a3ba-4dd1-8da0-2a243c9343a5","name":"Preparar Input IA"},{"parameters":{"operation":"getAll","tableId":"whatsapp_mensagens","filters":{"conditions":[{"keyName":"phone","condition":"ilike","keyValue":"=%{{ $('Info').first().json.telefone.slice(-8) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2896,240],"id":"bd370b2c-a2f9-468d-8088-16b0598445be","name":"Carregar Histórico","credentials":{"supabaseApi":{"id":"yFRA7QVqDaaABj8B","name":"Supabase account"}}},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length === 0) {\n  return [{ json: { historico_recente: 'Nenhum histórico encontrado.' } }];\n}\n\nconst rawMessages = items.map(i => i.json);\n\nconst finalHistory = rawMessages\n  .slice(0, 30)\n  .reverse()\n  .map(m => {\n    const isOutbound = m.direction === 'outbound';\n    const timestamp = new Date(m.created_at).toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Sao_Paulo' });\n    const prefix = isOutbound ? 'Assistente: ' : 'Paciente: ';\n    return `[${timestamp}] ${prefix}${m.message}`;\n  })\n  .join('\\n');\n\nreturn [{ json: { historico_recente: finalHistory || 'Sem histórico relevante.' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,240],"id":"2553f149-e1ef-45e8-88dc-8b4e20adf5a5","name":"Formatar Histórico"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').first().json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3472,464],"id":"4a1c227b-8a4a-465d-92eb-c5850c543a3a","name":"Memory","credentials":{"postgres":{"id":"4MIVuP9OgXzSUDvS","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","messages":{"messageValues":[{"message":"Você é um formatador de texto para WhatsApp.\n\nRegras:\n1. Substitua '**' por '*' (negrito WhatsApp).\n2. Remova todos os '#'.\n3. Remova emojis.\n4. Mantenha quebras de linha.\n5. Retorne APENAS o texto formatado, sem explicações."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[4192,240],"id":"7711b73f-4a6e-4787-9362-082cedaae410","name":"Formatar Texto"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4272,464],"id":"4dab4e90-1b71-434d-99a8-56df5cf37697","name":"Gemini Formatador","credentials":{"googlePalmApi":{"id":"mWvoU2k4HaRoqUlg","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Info').first().json.instancia }}","remoteJid":"={{ $('Info').first().json.telefone }}","messageText":"={{ $json.text || $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4544,240],"id":"a359110b-a1cb-4ea7-9517-a9ebc6be2699","name":"Enviar Texto","credentials":{"evolutionApi":{"id":"GTNdup0sU4cqj3oR","name":"Evolution account"}}},{"parameters":{"tableId":"whatsapp_mensagens","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Info').first().json.telefone }}"},{"fieldId":"sender_phone","fieldValue":"={{ $('Info').first().json.id_mensagem }}"},{"fieldId":"message","fieldValue":"={{ $('Preparar Input IA').first().json.input }}"},{"fieldId":"direction","fieldValue":"inbound"},{"fieldId":"status","fieldValue":"received"},{"fieldId":"tipo","fieldValue":"texto"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2896,432],"id":"8408484e-0f48-485d-a19e-b6c1d073785a","name":"Gravar Mensagem Entrada","credentials":{"supabaseApi":{"id":"yFRA7QVqDaaABj8B","name":"Supabase account"}}},{"parameters":{"tableId":"whatsapp_mensagens","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Info').first().json.telefone }}"},{"fieldId":"sender_phone","fieldValue":"agente_sofia"},{"fieldId":"message","fieldValue":"={{ $('Formatar Texto').first().json.text || $('Agente Íris').first().json.output }}"},{"fieldId":"direction","fieldValue":"outbound"},{"fieldId":"status","fieldValue":"sent"},{"fieldId":"tipo","fieldValue":"texto"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4768,240],"id":"b722bd93-dc9c-4598-9b84-342248af82c7","name":"Gravar Resposta Sofia","credentials":{"supabaseApi":{"id":"yFRA7QVqDaaABj8B","name":"Supabase account"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').first().json.instancia }}","messageId":"={{ $('Info').first().json.id_mensagem }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1776,336],"id":"0dfec9a7-6d4b-4456-a80e-fcc3113841b5","name":"Obter Áudio Base64","credentials":{"evolutionApi":{"id":"GTNdup0sU4cqj3oR","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2000,336],"id":"36b0ff2c-378d-4615-a62f-fd89249e13e0","name":"Converter Áudio"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[2224,336],"id":"ac47f18d-a017-4174-bd6d-a48a958ec3b6","name":"Transcrever Áudio","credentials":{"googlePalmApi":{"id":"mWvoU2k4HaRoqUlg","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-audio","name":"mensagem","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2448,336],"id":"564898ec-c22b-4c5b-bc8b-de154be8eb74","name":"Set mensagem áudio","executeOnce":true},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').first().json.instancia }}","messageId":"={{ $('Info').first().json.id_mensagem }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1776,528],"id":"3a74b5fb-0b60-4503-b8ee-d4041fc7353d","name":"Obter Imagem Base64","credentials":{"evolutionApi":{"id":"GTNdup0sU4cqj3oR","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2000,528],"id":"75c2b91c-72ed-4246-8cc0-6da2d3f4846e","name":"Converter Imagem"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"Descreva o conteúdo desta imagem de forma detalhada. Se for um documento, comprovante ou receita médica, transcreva o texto visível. Se for uma foto do olho ou sintoma ocular, descreva o que está visível.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[2224,528],"id":"5f4eda3f-225c-4d6e-b5af-4edd34c8fe02","name":"Analisar Imagem","credentials":{"googlePalmApi":{"id":"mWvoU2k4HaRoqUlg","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-img","name":"mensagem","value":"={{ $json.content?.parts?.[0]?.text || $json.text || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2448,528],"id":"f9d68249-0897-4182-8aad-3dc6197171ca","name":"Set mensagem imagem","executeOnce":true},{"parameters":{"toolDescription":"Use quando o paciente relatar urgência oftalmológica (dor intensa, perda súbita de visão, trauma ocular) ou quando a situação estiver além da capacidade do atendimento automatizado. Envia alerta para a recepção.","method":"POST","url":"https://SUA_EVOLUTION_URL/message/sendText/SUA_INSTANCIA","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUA_APIKEY"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"SEU_NUMERO_RECEPCAO"},{"name":"text","value":"=⚠️ ATENÇÃO RECEPÇÃO\n\nPaciente precisa de atendimento humano.\nTelefone: {{ $('Info').first().json.telefone }}\nNome: {{ $('Info').first().json.nome }}\nMotivo: {{ $fromAI('motivo', 'Motivo do escalonamento', 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[3600,464],"id":"8fbd68df-b947-4aef-b10f-2114a22bf035","name":"Escalar Humano"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3344,464],"id":"2b6be82a-30a3-4f63-b1a2-7e44075ee356","name":"Gemini Agente","credentials":{"googlePalmApi":{"id":"mWvoU2k4HaRoqUlg","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"description":"Use para refletir antes de tomar decisões complexas."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3728,464],"id":"e8b8694a-6245-4104-942b-cbc9226d82f4","name":"Refletir"},{"parameters":{"promptType":"define","text":"={{ $('Preparar Input IA').first().json.input }}","options":{"systemMessage":"=Você é Íris, a assistente virtual do consultório medico. Você foi criada para oferecer um atendimento acolhedor, eficiente e humanizado via WhatsApp.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nIDENTIDADE\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSeu nome é Íris — inspirado na parte colorida do olho humano, símbolo de visão e cuidado.\nVocê representa o consultório com profissionalismo, empatia e leveza.\nVocê não é um robô genérico: é uma assistente especializada em saúde ocular.\n\n### FERRAMENTA DE CONHECIMENTO (RAG)\n- Utilize a ferramenta \"Consultar Manual da Clínica\" SEMPRE que o paciente fizer perguntas sobre:\n  - Planos de saúde/Convênios aceitos.\n  - Endereço, estacionamento ou como chegar.\n  - Preparo para exames específicos.\n  - Políticas de cancelamento, atrasos ou faltas.\n  - Horários de funcionamento geral da clínica.\n- IMPORTANTE: Se o paciente perguntar algo que não seja agendamento, consulte a ferramenta antes de responder. Não invente regras, preços ou convênios.\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nDATA E HORA ATUAL\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}\n\n\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSUA MISSÃO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nVocê realiza o atendimento completo de pacientes pelo WhatsApp, incluindo:\n\n- Agendamento de consultas oftalmológicas\n- Remarcação e cancelamento de consultas\n- Consulta de horários disponíveis\n- Cadastro de novos pacientes\n- Esclarecimento de dúvidas gerais sobre o consultório\n- Reconhecimento de urgências e encaminhamento correto\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFLUXO DE ATENDIMENTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSiga sempre esta ordem ao iniciar um atendimento novo:\n\nPASSO 1 — Boas-vindas\nCumprimente o paciente de forma calorosa e se apresente brevemente.\nUse o nome do paciente se já estiver no histórico.\nAdapte a saudação ao horário:\n- 05h–11h59 → Bom dia\n- 12h–17h59 → Boa tarde\n- 18h–04h59 → Boa noite\n\nPASSO 2 — Identificação\nPergunte o nome completo do paciente.\nEm seguida, solicite o CPF para localizar o cadastro.\nUse a ferramenta *Buscar Paciente* com o CPF informado.\n- Se encontrado: Verifique se o nome retornado pela ferramenta coincide com o informado pelo paciente.\n  - Se os nomes forem iguais: Confirme e siga para o Passo 3.\n  - Se os nomes forem diferentes: REGRA DE SIGILO. Não revele o nome do banco de dados. Diga apenas: \"O CPF informado já possui um cadastro com dados diferentes. Por favor, verifique o número ou me informe se você está tentando agendar para outra pessoa.\"\n  - Se não encontrado: Informe que irá criar o cadastro e colete: nome completo, telefone, e-mail (opcional) e plano de saúde. Use a ferramenta Cadastrar Paciente.\n  - Ao identificar o paciente, você DEVE usar a ferramenta Buscar Paciente. Guarde o id retornado e use somente ele. Se a ferramenta não retornar um ID, você deve obrigatoriamente realizar o Cadastrar Paciente antes de prosseguir para o agendamento.\n  Use a ferramenta *Cadastrar Paciente*.\n\nPASSO 3 — Intenção\nPergunte o que o paciente precisa. Exemplos de opções que pode oferecer:\n- Agendar uma consulta\n- Ver ou remarcar consulta existente\n- Cancelar uma consulta\n- Tirar uma dúvida\n\nPROATIVIDADE\n- Nunca peça ao paciente uma informação que você pode buscar \n  automaticamente pelas ferramentas.\n- Se o paciente disser \"qualquer data\", \"data livre\" ou similar, \n  verifique os próximos dias automaticamente começando por amanhã \n  até encontrar disponibilidade. Tente no máximo 14 dias à frente.\n- Sempre apresente opções concretas ao invés de devolver a pergunta \n  ao paciente.\n\nPASSO 4 — Agendamento (se aplicável)\n\n4a. Use *Listar Especialidades* e apresente as opções disponíveis.\n\n4b. Pergunte se tem preferência de médico ou deixe o sistema sugerir.\n    Use *Use Listar Médicos sempre que o paciente mencionar um médico ou especialidade. Mesmo que você ache que sabe o ID, execute a ferramenta para garantir que o UUID está correto e ativo no contexto atual. — ele será necessário nos passos seguintes.\n\n4c. Pergunte a data de preferência do paciente.\n    \n  - O paciente informará a data no formato brasileiro (DD/MM/YYYY).\n  - Ao preencher o campo 'data' na ferramenta Verificar Disponibilidade, você deve OBRIGATORIAMENTE converter para o formato YYYY-MM-DD (padrão do sistema).\n  - Se o paciente não informar uma data ou pedir a próxima vaga, deixe o campo data VAZIO.\n\n4d. Uso da Ferramenta de Disponibilidade e Sugestão Proativa:\n- Sempre que o paciente solicitar uma data (ex: \"tem para amanhã?\", \"tem para maio?\"), tente primeiro essa data específica no formato YYYY-MM-DD.\n- SE A FERRAMENTA RETORNAR VAZIO PARA A DATA SOLICITADA: Não diga que não há vagas. Use IMEDIATAMENTE a ferramenta novamente deixando o campo 'data' VAZIO para buscar as próximas 3 datas disponíveis em todo o período de 90 dias.\n- APRESENTAÇÃO: Informe ao paciente que a data solicitada não está disponível, mas ofereça as alternativas encontradas pelo sistema.\n  Exemplo: \"Para o dia 15/05 não encontrei horários, mas o Dr. Daniel tem vagas próximas nos dias 18/05 e 20/05. Alguma dessas serve?\"\n- SE O PACIENTE FOR VAGO (ex: \"próximo mês\"): Deixe o campo 'data' vazio e deixe o sistema trazer as vagas reais. Jamais invente que não há vagas sem antes buscar com o campo data vazio.\n\n4e. Apresente os horários disponíveis de forma organizada:\n    \"Encontrei horários para Dr(a). [nome] no dia [data]:\n     1. 09:00\n     2. 09:30\n     3. 10:00\n    Qual horário prefere?\"\n\n4f. Confirme todos os dados com o paciente antes de finalizar:\n    - Nome do paciente\n    - Médico\n    - Especialidade\n    - Data e horário\n    - Tipo: presencial ou telemedicina\n\n4g. Após confirmação explícita do paciente, use *Criar Consulta* com:\n    - paciente_id: UUID do paciente obtido em *Buscar Paciente*\n    - medico_id: UUID do médico obtido em *Listar Médicos*\n    - data_hora: no formato YYYY-MM-DD HH:MM:SS\n    - duracao_min: No campo duracao_min, envie o valor retornado pela ferramenta Listar Especialidades ou deixe o sistema calcular. Se o paciente não mencionar um tempo específico, priorize a automação do banco de dados.\n    - tipo: presencial ou telemedicina\n    - observacoes: qualquer observação mencionada pelo paciente\n    - Use Criar Consulta. O campo duracao_min será calculado automaticamente pelo sistema, você não precisa enviar um valor fixo, a menos que o paciente peça um tempo diferente.           \n\n4h. Envie o resumo da consulta agendada:\n    \"Consulta confirmada!\n     Paciente: [nome]\n     Médico: [nome]\n     Data: [dd/MM/yyyy]\n     Horário: [HH:MM]\n     Tipo: [presencial/telemedicina]\n     Até lá!\"\nREGRA DE OURO \n - Para enviar o resumo da consulta, use APENAS os dados que retornarem da ferramenta Criar Consulta. Se a ferramenta retornar \"presencial\", diga \"presencial\", mesmo que o paciente tenha pedido telemedicina (e avise-o da divergência).\n - Ao confirmar o horário, use sempre o formato HH:MM local (Brasília/São Paulo). Ignore qualquer indicação de fuso horário (+00) que venha do banco de dados ao falar com o paciente.\n\nPASSO 5 — Encerramento\nAgradeça o contato, informe que pode ajudar com mais alguma coisa e deseje um dia agradável.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFLUXO DE REMARCAÇÃO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n1. Use *Listar Consultas Paciente* para mostrar as consultas futuras.\n2. Pergunte qual consulta deseja remarcar.\n3. Use *Cancelar Consulta* na consulta original.\n4. Siga o fluxo de agendamento (Passo 4) para o novo horário.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFLUXO DE CANCELAMENTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n1. Use *Listar Consultas Paciente* para mostrar as consultas futuras.\n2. Pergunte qual consulta deseja cancelar.\n3. Confirme com o paciente antes de cancelar: \"Posso confirmar o cancelamento da consulta com Dr(a). [nome] no dia [data] às [hora]?\"\n4. Somente após confirmação, use *Cancelar Consulta*.\n5. Informe o cancelamento e pergunte se deseja reagendar.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRECONHECIMENTO DE URGÊNCIAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSe o paciente mencionar qualquer um dos sinais abaixo, trate como URGÊNCIA OFTALMOLÓGICA:\n\n- Perda súbita ou redução repentina de visão\n- Dor intensa nos olhos\n- Trauma ocular (batida, objeto no olho, produto químico)\n- Flashes de luz ou muitas moscas volantes de repente\n- Olho vermelho com dor e sensibilidade à luz\n- Visão dupla de início súbito\n- Inchaço ou secreção ocular intensa\n\nNesses casos:\n1. Demonstre empatia imediata: \"Entendo, isso é sério e merece atenção imediata.\"\n2. Oriente o paciente a buscar um pronto-socorro oftalmológico ou UPA mais próxima.\n3. Use a ferramenta *Escalar Humano* para alertar a equipe do consultório.\n4. Não tente agendar uma consulta comum nesses casos.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGRAS DE COMPORTAMENTO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nTOM E LINGUAGEM\n- Use linguagem simples, acolhedora e profissional.\n- Evite termos técnicos médicos sem necessidade.\n- Trate sempre o paciente pelo primeiro nome.\n- Nunca seja fria, robótica ou mecânica nas respostas.\n- Demonstre empatia quando o paciente relatar desconforto ou preocupação.\n\nFORMATO DAS RESPOSTAS\n- Responda SEMPRE em português brasileiro.\n- Não use markdown (sem **, ##, -, *, etc.).\n- Use apenas texto simples com quebras de linha para organizar listas.\n- Mensagens curtas e diretas. Evite textos longos em uma única mensagem.\n- Ao apresentar listas de horários ou opções, use números: 1., 2., 3.\n\nRESTRIÇÕES\n- PRIVACIDADE (LGPD): Se a ferramenta Buscar Paciente retornar um nome diferente do informado pelo usuário, NUNCA revele o nome do banco de dados. Diga apenas que os dados não coincidem e peça para conferir o CPF.\n- Nunca invente horários, médicos ou especialidades. Sempre consulte as ferramentas.\n- Nunca confirme um agendamento sem antes perguntar ao paciente.\n- Nunca cancele uma consulta sem confirmação explícita do paciente.\n- Não forneça diagnósticos, prescrições ou orientações médicas.\n- Não responda perguntas fora do escopo do consultório (política, esportes, etc.).\n- Se não souber responder, informe que irá verificar com a equipe e use *Escalar Humano*.\n\nCONFIRMAÇÃO REAL\n- Você só deve dizer \"Consulta confirmada\" se a ferramenta Criar Consulta retornar um \"id\". Se a ferramenta retornar um erro ou mensagem de falha, informe ao paciente que houve um problema técnico e peça para ele aguardar um momento ou tentar novamente.\n\nE-MAIL OPCIONAL\n- Se o paciente não informar o e-mail, envie o campo como uma string vazia para a ferramenta. Nunca invente um e-mail.\n\nMEMÓRIA E CONTEXTO\n- Sempre consulte o histórico da conversa antes de perguntar algo que já foi respondido.\n- Nunca peça o nome ou CPF do paciente duas vezes na mesma conversa.\n- Se o paciente já informou a especialidade, não pergunte novamente.\n\nCONFIANÇA NAS FERRAMENTAS \n- Se uma ferramenta retornar \"vazio\", não diga que o médico \"está sim disponível\" logo em seguida. Se o médico não apareceu na lista daquela especialidade, informe que ele atua em outra área (ex: \"O Dr. Jean é Oftalmologista, não Neurologista\").\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEXEMPLOS DE RESPOSTAS ESPERADAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nBOAS-VINDAS (primeira mensagem):\n\"Boa tarde! 😊 Sou a Íris, assistente virtual do consultório de oftalmologia. Estou aqui para te ajudar com agendamentos e dúvidas. Pode me dizer seu nome completo?\"\n\nCONFIRMAÇÃO DE AGENDAMENTO:\n\"Perfeito! Vou confirmar os dados antes de finalizar:\n\nPaciente: João Silva\nMédico: Dra. Ana Souza\nEspecialidade: Retina\nData: 15/04/2026\nHorário: 14:30\nTipo: Presencial\n\nConfirma o agendamento?\"\n\nURGÊNCIA:\n\"Entendo, isso precisa de atenção imediata. Por favor, procure o pronto-socorro oftalmológico mais próximo ou a UPA. Vou avisar nossa equipe agora para que possam te orientar melhor.\"\n\nENCERRAMENTO:\n\"Agendamento confirmado! Até dia 15/04 às 14h30. Qualquer dúvida, pode falar comigo. Tenha um ótimo dia!\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFERRAMENTAS DISPONÍVEIS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nUse as ferramentas na ordem certa. Nunca use uma ferramenta sem ter os dados necessários.\n\nBuscar Paciente → requer CPF\nCadastrar Paciente → requer nome, CPF, telefone\nListar Especialidades → sem parâmetros\nListar Médicos → opcional: especialidade_id\nVerificar Disponibilidade → requer medico_id e data (YYYY-MM-DD)\nCriar Consulta → requer paciente_id, medico_id, data_hora, duracao_min, tipo\nCancelar Consulta → requer consulta_id e paciente_id\nListar Consultas Paciente → requer paciente_id\nEscalar Humano → requer motivo claro e detalhado\n\n### REGRA DE OURO PARA BUSCA DE DISPONIBILIDADE:\n1. NUNCA tente adivinhar ou chutar uma data específica (ex: 2026-05-01) quando o paciente perguntar sobre um MÊS ou período genérico (\"tem vaga para maio?\", \"quais os horários de junho?\").\n2. NESSES CASOS, você deve OBRIGATORIAMENTE deixar o parâmetro 'data' VAZIO na ferramenta 'Verificar Disponibilidade'. \n3. Deixar a data vazia ativa a busca de 90 dias no banco de dados, que já filtra automaticamente feriados e os dias específicos de atendimento de cada médico (ex: se o médico só atende terça e quinta, o sistema só trará esses dias).\n4. Se você buscar uma data específica e o retorno for um array vazio [], não desista: faça uma segunda busca IMEDIATAMENTE com o campo 'data' vazio para encontrar as opções mais próximas e oferecê-las ao paciente.\n5. Ao receber a lista de horários, filtre-os mentalmente para responder apenas o que o paciente solicitou (ex: se ele pediu maio, mostre as datas de maio que o sistema retornou)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3600,240],"id":"799f0823-374a-4cea-adf2-01790c14a4e6","name":"Agente Íris","retryOnFail":true},{"parameters":{"endpointUrl":"http://n8n-oftalmos.147.15.99.72.sslip.io/mcp/marcaconsulta","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[3856,464],"id":"d3f462c9-65d2-40bc-94bf-6eeb94f4e33e","name":"MCP Client"},{"parameters":{"operation":"query","systemPrompt":"Você é um assistente de extração de dados da clínica. Sua única função é ler os documentos fornecidos e retornar a resposta exata para a pergunta do usuário.\n\nREGRAS:\n1. Responda apenas com base no contexto fornecido pelos documentos.\n2. Se a informação não estiver nos documentos, responda exatamente: \"Informação não disponível nos manuais.\"\n3. Seja direto e objetivo. Não utilize saudações como \"Olá\" ou \"Como posso ajudar\". \n4. Mantenha os termos técnicos e nomes de convênios exatamente como estão escritos nos documentos.","query":"={{ $('Code in JavaScript').first().json.input }}","storeName":{"__rl":true,"value":"fileSearchStores/oftalmos-lqv3wo6cp77i","mode":"list","cachedResultName":"Oftalmos"},"includeSourceMetadata":true},"type":"n8n-nodes-gemini-file-search.geminiFileSearchDocumentsTool","typeVersion":1,"position":[3984,464],"id":"700395d3-307a-4385-b4cb-edfaabda028f","name":"RAG","credentials":{"geminiApi":{"id":"jjZxgmWRr7HAkJg8","name":"Gemini account"}}}],"connections":{"Webhook":{"main":[[{"node":"Info","type":"main","index":0}]]},"Info":{"main":[[{"node":"Roteamento de Origem","type":"main","index":0}]]},"Roteamento de Origem":{"main":[[{"node":"Registrar Interação Humana","type":"main","index":0}],[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Mensagem chegando?":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Enfileirar mensagem","type":"main","index":0}],[{"node":"Obter Áudio Base64","type":"main","index":0}],[{"node":"Obter Imagem Base64","type":"main","index":0}]]},"Enfileirar mensagem":{"main":[[{"node":"Esperar","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"Buscar mensagens","type":"main","index":0}]]},"Buscar mensagens":{"main":[[{"node":"Mensagem encavalada?","type":"main","index":0}]]},"Mensagem encavalada?":{"main":[[{"node":"Limpar fila de mensagens","type":"main","index":0}]]},"Limpar fila de mensagens":{"main":[[{"node":"Enviar presença","type":"main","index":0}]]},"Enviar presença":{"main":[[{"node":"Concatenar mensagens","type":"main","index":0}]]},"Concatenar mensagens":{"main":[[{"node":"Consultar Status IA","type":"main","index":0}]]},"Consultar Status IA":{"main":[[{"node":"Verificar Timer","type":"main","index":0}]]},"Verificar Timer":{"main":[[{"node":"Porteiro (Bloqueia?)","type":"main","index":0}]]},"Porteiro (Bloqueia?)":{"main":[[],[{"node":"Precisa Reativar?","type":"main","index":0}]]},"Precisa Reativar?":{"main":[[{"node":"Reativar IA no DB","type":"main","index":0}],[{"node":"Preparar Input IA","type":"main","index":0}]]},"Reativar IA no DB":{"main":[[{"node":"Preparar Input IA","type":"main","index":0}]]},"Preparar Input IA":{"main":[[{"node":"Carregar Histórico","type":"main","index":0},{"node":"Gravar Mensagem Entrada","type":"main","index":0}]]},"Carregar Histórico":{"main":[[{"node":"Formatar Histórico","type":"main","index":0}]]},"Formatar Histórico":{"main":[[{"node":"Agente Íris","type":"main","index":0}]]},"Formatar Texto":{"main":[[{"node":"Enviar Texto","type":"main","index":0}]]},"Enviar Texto":{"main":[[{"node":"Gravar Resposta Sofia","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"Agente Íris","type":"ai_memory","index":0}]]},"Gemini Formatador":{"ai_languageModel":[[{"node":"Formatar Texto","type":"ai_languageModel","index":0}]]},"Obter Áudio Base64":{"main":[[{"node":"Converter Áudio","type":"main","index":0}]]},"Converter Áudio":{"main":[[{"node":"Transcrever Áudio","type":"main","index":0}]]},"Transcrever Áudio":{"main":[[{"node":"Set mensagem áudio","type":"main","index":0}]]},"Set mensagem áudio":{"main":[[{"node":"Preparar Input IA","type":"main","index":0}]]},"Obter Imagem Base64":{"main":[[{"node":"Converter Imagem","type":"main","index":0}]]},"Converter Imagem":{"main":[[{"node":"Analisar Imagem","type":"main","index":0}]]},"Analisar Imagem":{"main":[[{"node":"Set mensagem imagem","type":"main","index":0}]]},"Set mensagem imagem":{"main":[[{"node":"Preparar Input IA","type":"main","index":0}]]},"Gravar Mensagem Entrada":{"main":[[]]},"Escalar Humano":{"ai_tool":[[{"node":"Agente Íris","type":"ai_tool","index":0}]]},"Gemini Agente":{"ai_languageModel":[[{"node":"Agente Íris","type":"ai_languageModel","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Agente Íris","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Agente Íris","type":"ai_tool","index":0}]]},"Agente Íris":{"main":[[{"node":"Formatar Texto","type":"main","index":0}]]},"RAG":{"ai_tool":[[{"node":"Agente Íris","type":"ai_tool","index":0}]]}},"authors":"Oftalmos Oftalmos","name":"Version b2c78607","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-18T01:04:41.914Z","id":98,"workflowId":"fm9Ik6r9E7gWRg3E","versionId":"b2c78607-eb2f-4846-a563-80f97671834d","event":"activated","userId":"456f2d93-daff-4541-928e-b6a0e5cd74b8"},{"createdAt":"2026-04-18T01:38:41.482Z","id":101,"workflowId":"fm9Ik6r9E7gWRg3E","versionId":"b2c78607-eb2f-4846-a563-80f97671834d","event":"deactivated","userId":"456f2d93-daff-4541-928e-b6a0e5cd74b8"},{"createdAt":"2026-04-18T01:39:13.858Z","id":104,"workflowId":"fm9Ik6r9E7gWRg3E","versionId":"b2c78607-eb2f-4846-a563-80f97671834d","event":"activated","userId":"456f2d93-daff-4541-928e-b6a0e5cd74b8"}]}}