workflow_followup_debug.json
{"updatedAt":"2026-04-18T20:53:41.817Z","createdAt":"2026-04-18T20:14:46.864Z","id":"xI8obEj1Cmwp9yr7","name":"Automação de Lembretes - Cron","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-336,-320],"id":"7841dd5a-cfb2-4439-82a9-bfd569da922a","name":"A Cada 15 Minutos","disabled":true},{"parameters":{"operation":"getAll","tableId":"consultas","limit":500,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"confirmada"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,-272],"id":"989d385a-1225-4cd6-8e12-c5b41a89cb33","name":"Puxar Consultas Ativas","credentials":{"supabaseApi":{"id":"yFRA7QVqDaaABj8B","name":"Supabase account"}}},{"parameters":{"jsCode":"const now = new Date();\nconst results = [];\nfor (const item of $input.all()) {\n    const consulta = item.json;\n    if (!consulta.data_hora) continue;\n    \n    const dataConsulta = new Date(consulta.data_hora);\n    const diffMs = dataConsulta - now;\n    const diffHours = diffMs / (1000 * 60 * 60);\n    const obs = consulta.observacoes || \"\";\n    \n    let lembrete_tipo = null;\n    \n    // Entre 23.5h e 24.5h e sem a tag [L1D] (Lembrete 1 Dia)\n    if (diffHours >= 23.5 && diffHours <= 24.5 && !obs.includes(\"[L1D]\")) {\n        lembrete_tipo = \"1_DIA\";\n    }\n    // Entre 2.5h e 3.5h e sem a tag [L3H] (Lembrete 3 Horas)\n    else if (diffHours >= 2.5 && diffHours <= 3.5 && !obs.includes(\"[L3H]\")) {\n        lembrete_tipo = \"3_HORAS\";\n    }\n    \n    if (lembrete_tipo) {\n        consulta.lembrete_tipo = lembrete_tipo;\n        results.push({ json: consulta });\n    }\n}\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-272],"id":"f403922c-0d19-4d43-b59a-d308b95190a7","name":"Filtrar Consultas da Janela"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,-272],"id":"e8faa91f-c5da-4444-812f-717b2ae33ef8","name":"Loop por Consulta"},{"parameters":{"operation":"get","tableId":"pacientes"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[864,-272],"id":"de6736d2-e93e-4698-8025-cfd9428290a8","name":"Puxar Telefone Paciente","credentials":{"supabaseApi":{"id":"yFRA7QVqDaaABj8B","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c4ab7dfc","name":"mensagem_texto","value":"={{ let msg = \"\";\nconst consulta = $('Loop por Consulta').item.json;\nconst paciente = $json;\nconst data = new Date(consulta.data_hora);\nconst horaFomatada = data.getHours().toString().padStart(2, '0') + ':' + data.getMinutes().toString().padStart(2, '0');\n\nif (consulta.lembrete_tipo === \"1_DIA\") {\n    msg = `Olá ${paciente.nome || ''}, tudo bem? Passando para lembrar da sua consulta oftalmológica amanhã às ${horaFomatada}. Nos vemos em breve!`;\n} else if (consulta.lembrete_tipo === \"3_HORAS\") {\n    msg = `Olá ${paciente.nome || ''}! Lembrete rápido: sua consulta oftalmológica é hoje às ${horaFomatada}! A Clínica Oftalmos aguarda por você.`;\n}\n\nreturn msg; }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,-272],"id":"b5009e3a-10cc-4577-9cd8-b4de6522f178","name":"Gerar Texto do Lembrete"},{"parameters":{"resource":"messages-api","instanceName":"Oftalmos","remoteJid":"={{ $json.telefone }}","messageText":"={{ $json.mensagem_texto }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1264,-272],"id":"7d4178cf-f69d-49de-91d8-b926e4b29a91","name":"Disparar WhatsApp","credentials":{"evolutionApi":{"id":"GTNdup0sU4cqj3oR","name":"Evolution account"}}},{"parameters":{"operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop por Consulta').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"observacoes","fieldValue":"={{ ($('Loop por Consulta').item.json.observacoes || '') + ' [' + ($('Loop por Consulta').item.json.lembrete_tipo === '1_DIA' ? 'L1D' : 'L3H') + ']' }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1456,-272],"id":"d91b8df4-5358-4e8e-8cf0-df8a223375cc","name":"Marcar Lembrete como Enviado na Consulta","credentials":{"supabaseApi":{"id":"yFRA7QVqDaaABj8B","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,-272],"id":"4bce0a25-b888-4862-b034-354736bc458c","name":"When clicking ‘Execute workflow’"}],"connections":{"A Cada 15 Minutos":{"main":[[]]},"Puxar Consultas Ativas":{"main":[[{"node":"Filtrar Consultas da Janela","type":"main","index":0}]]},"Filtrar Consultas da Janela":{"main":[[{"node":"Loop por Consulta","type":"main","index":0}]]},"Loop por Consulta":{"main":[[{"node":"Puxar Telefone Paciente","type":"main","index":0}],[]]},"Puxar Telefone Paciente":{"main":[[{"node":"Gerar Texto do Lembrete","type":"main","index":0}]]},"Gerar Texto do Lembrete":{"main":[[{"node":"Disparar WhatsApp","type":"main","index":0}]]},"Disparar WhatsApp":{"main":[[{"node":"Marcar Lembrete como Enviado na Consulta","type":"main","index":0}]]},"Marcar Lembrete como Enviado na Consulta":{"main":[[{"node":"Loop por Consulta","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Puxar Consultas Ativas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:A Cada 15 Minutos":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"f25a0b39-f48c-4483-89dc-8015353cd7dd","activeVersionId":null,"versionCounter":53,"triggerCount":1,"shared":[{"updatedAt":"2026-04-18T20:14:46.864Z","createdAt":"2026-04-18T20:14:46.864Z","role":"workflow:owner","workflowId":"xI8obEj1Cmwp9yr7","projectId":"p2kkPTM2RKc7LRdj","project":{"updatedAt":"2026-04-10T19:21:20.271Z","createdAt":"2026-03-26T03:04:38.247Z","id":"p2kkPTM2RKc7LRdj","name":"Oftalmos Oftalmos <oftalmos@oftalmos.com>","type":"personal","icon":null,"description":null,"creatorId":"456f2d93-daff-4541-928e-b6a0e5cd74b8"}}],"tags":[],"activeVersion":null}